.App {
  display: grid;

  grid-template-areas: 
  'header header header'
  'nav main sidebar';
  grid-template-rows: 80px 1fr;
  grid-template-columns: 250px 1fr 250px;
  grid-auto-rows: minmax(1fr, auto);
  grid-gap: 10px;
}

.appContent {
  grid-area: main;
}