.messages {
    display: grid;
    grid-template-columns: 3fr 10fr;
    grid-gap: 5vw;
    margin-left: 4vw;
    margin-right: 1vw;
}
@media all and (max-width: 1024px){
    .messages {
        margin-left: 3vw;
        margin-right: 1.5vw;
        margin-top: .6vh;
    }
}

.messagesUsers {
    background-color: #fff;
    padding: 10px;
    border-radius: 12px;
}

.massageSearch {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #afafaf;
}

.massageSearch input[type=search] {
    background-color: #F0F2F5;
    border-radius: 20px;
    border: transparent;
    padding: 10px;
    outline: none;
}

.massageUser {
    border-bottom: 1px solid #afafaf;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.messagesUsers a {
    text-decoration: none;
    color: #4d4d4d;
    font-size: 1.6rem;
    padding-left: 10px;
}

.messagesUsers a:hover {
    font-weight: bold;
}

.messageWindow {
    height: 88vh;
    border-radius: 12px;
    background-color: #fff;
    padding: 10px 20px 10px 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
}

::-webkit-scrollbar {
    display: none;
}

.messagesAreaWrapper {
    overflow: hidden auto;
    height: 100%;
}

.messagesArea {
    border-bottom: 1px solid #afafaf;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-end
}

.messageItemText {
    align-self: flex-end;
    color: #ffffff;
    margin-right: 10px;
    padding: 10px;
    background-color: #0b85f6;
    border-radius: 10px 0 10px 10px;
}

.messageItem {
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: flex-end;
}

.messageItemEmpty {
    text-align: center;
    padding: 5px;
    font-size: 1.8rem;
}

.messageItem img {
    width: 100px;
    border-radius: 10px;
}

.massageUser img {
    width: 70px;
}

.textArea {
    justify-self: end;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.textArea textarea {
    outline-color: #F0F2F5;
    background-color: #F0F2F5;
    border-radius: 20px;
    border: transparent;
    resize: none;
    padding: 10px;
    margin-bottom: 10px;
    width: 40vh;
}

.textArea button {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    color: #fff;
    padding: 8px;
    margin-right: 15px;
    background-color: #34A853;
    width: 100px;
    align-self: flex-end;
}