.sideBar {
    grid-area: sidebar;
    align-self: start;
    position: sticky;
    top: 90px;
    padding: 20px;
    margin-right: 10px;
    border-radius: 12px;
    background-color: #fff;
}


.item {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #8D8D8D;
    font-size: 24px;
}

.item:hover {
    cursor: pointer;
    color: #0b85f6;
    font-weight: 900;
}

.active {
    text-shadow: 1px 1px 1px #9d9d9d;
    font-size: 24px;
    color: #0055FF;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.friendItem {
    display: flex;
    padding: 5px;
}

.friendsContainer a {
    text-decoration: none;
}

.friendItem:hover {
    background-color: #eeeeee;
    border-radius: 15px;
    transition-timing-function: ease-in-out;
}

.friendItem img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.friendItem span {
    align-self: center;
    margin: 0;
    padding-left: 5px;
    color: #2a2a2a;
}