.photosContent {
    background-color: #fff;
    border-radius: 12px;
    padding: 5px;
    margin-bottom: 10px;
}

.photosContent img {
    width: 8vw;
    margin: 0.5vw;
    box-shadow: 1px 1px 3px 3px #6e6e6e;
}

.photosContent h3 {
    color: #565656;
}